body{
    background-image:url("https://hips.hearstapps.com/hmg-prod/images/beautiful-sunrise-dolomites-belluno-provence-italy-1492545669.jpg");
    
}

#container{
    
    background-image:url("https://pastorlesdotcom.files.wordpress.com/2013/06/calvary-rd-11.jpg");
    height:400px;
    width:800px;
    margin-top:15%;
    opacity:0.6;
    margin-left:400px;
    position:absolute;
    
}

#container2{
    margin-top:100px;
    position:relative;
    
}

.Tik{
    background-color:red;
    height:80px;
    width:100px;
}

@media (max-width:600px){
    
    #container{
        width:280px;
        margin-left:60px;
        margin-top:200px;
    }
}